body,
html {

    background-color: #3E4657;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.show {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
#title {
    background-image: url(Billeder/img/title.svg);
    width: 20vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
}

h1 {
    animation-name: h1_kf;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 35px;
    font-family: 'Baloo Chettan', cursive;
    margin-left: 25px;
}

#bkimg {
    background-image: url(Billeder/img/background.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 50vw;
    top: 8vw;
    width: 65%;
    height: 65%;
}

#hare {
    animation-name: hare_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
    background-image: url(Billeder/img/hare_ani.svg);
    background-size: 300% 100%;
    width: 15vw;
    height: 15vw;
    position: absolute;
    display: inline-block;
    top: 10vw;
    left: 5vw;
}

@keyframes hare_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300% 0;
    }
}

#turtle {
    animation-name: turtle_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: steps(4);
    background-image: url(Billeder/img/turtle_ani.svg);
    background-size: 400% 100%;
    width: 15vw;
    height: 15vw;
    position: absolute;
    display: inline-block;
    top: 10vw;
    left: 30vw;
}

@keyframes turtle_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

@keyframes h1_kf {
    0% {
        color: yellow;
    }

    25% {
        color: red;
    }

    50% {
        color: #05bad1;
    }

    75% {
        color: #00ff00;
    }

    100% {
        color: yellow;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.0);
    }
}

#quiz {
    height: auto;
    margin-left: 10px;
    background: #ACB8E8;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;

}

#link p {
    color: white;
    margin-top: 35vw;
    margin-left: 50vw;
}

#link a {
    text-decoration: none;
    background: #33FF00;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    position: absolute;
    top: 45vw;
    left: 50vw;
    display: block;
}

button_2 {

    background: #33FF00;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    position: absolute;
    top: 68.8vw;
    left: 20vw;
    display: block;
}

button_2:hover {
    background: #ffffff;
    border: 1px solid #33FF00;
    color: #33FF00;
    cursor: pointer;
}

#link a:hover {
    background: #ffffff;
    border: 1px solid #33FF00;
    color: #33FF00;
    cursor: pointer;
}

input {
    margin-bottom: 20px;
    display: block;
}

#textbox {
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}

#button {
    background: #33FF00;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;

}



#button:hover {
    background: #ffffff;
    border: 1px solid #33FF00;
    color: #33FF00;
    cursor: pointer;

}

#after_submit {
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 180px;
    font-size: 20px;
    z-index: 10;

}

#korrekt {
    display: none;
    position: absolute;
    background-color: #ACB8E8;
    border-radius: 20px;
    margin-left: 10px;
    top: 55vw;
    left: 38vw;
    width: 400px;
    height: auto;
    padding: 10px 20px 10px 20px;
}

#picture {
    margin-left: 10px;
    width: 375px;
    height: 245px;
}


#mc {
    display: inline;
}

@media screen and (max-width: 1024px) {
    #link a {
        top: 55vw;
    }
}

@media screen and (max-width: 1024px) {
    #link {
        top: 75vw;
    }
}

@media screen and (max-width: 1024px) {
    button_2 {
        top: 80vw;
        left: 25vw;
    }
}

@media screen and (max-width: 1024px) {
    #korrekt {
        top: 145vw;
        left: 4vw;
    }
}

@media screen and (max-width: 1024px) {
    #after_submit {
        position: absolute;
        left: -13vw;
    }
}

@media screen and (max-width: 1024px) {
    #hare {
        top: 20vw;
    }
}
@media screen and (max-width: 1024px) {
    #quiz {
        position: absolute;
        top: 55vw;
        left: 4vw;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        position: absolute;
        top: 45vw;
        left: 2vw;

    }
}
@media screen and (max-width: 1024px) {
    #link p {
        position: absolute;
        top: 0vw;
        left: 18vw;

    }
}
@media screen and (max-width: 1024px) {
    #link a {
        position: absolute;
        top: 40vw;
        left: 68vw;

    }
}
@media screen and (max-width: 1024px) {
    #bkimg {
        position: absolute;
        top: 5vw;
        left: 5vw;
    }
}
@media screen and (max-width: 1024px) {
    #turtle {
        left: 40vw;
        top: 20vw;
    }
}
@media screen and (max-width: 1024px) {
    #title {
       width: 30vw;
    }
}
@media screen and (max-width: 400px) {
    #quiz {
       position: absolute;
       width: 100%;
    }
}
